html,
body {
    height: 100%;
    /* Garante que a página tenha 100% de altura */
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow-x: hidden;
    padding-top: 20px;
}


main {
    padding: 20px;
    margin-top: 2vw;
    background-color: #f8f9fa;
    margin-bottom: 3vw;
}


header navbar {
    background-color: rgba(219, 219, 219, 0.795);

}

img.rounded.float-end {
    max-width: 550px;
    height: auto;
    margin-right: 100px;
}

img.rounded.float-end.ilove {
    max-width: 450px;
    height: auto;
    margin-right: 100px;
}

img.rounded.float-end.libras {
    max-width: 420px;
    height: auto;
    margin-right: 100px;
}

i.fa-solid.fa-arrow-down {
    font-size: 40px;
}

.btnFooter {
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
}

.btnFooter:hover {
    background-color: #cccbcb;
}

.btn.saiba {
    background-color: #c5c4c4;
    border-color: #565fda00;
    color: #333232;
}

.btn.saiba:hover {
    background-color: #d1d1d1d3;
    border-color: #565fda00;
    color: aliceblue;
}

.row.itens {
    margin-top: 10px;
}

.fa-brands.btns {
    font-size: 1.2rem;
}


.itensGeral {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.hidden {
    visibility: hidden;
    transform: translateY(100px);
    transition: transform 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.visible {
    visibility: visible;
    transform: translateY(0);
}


@media only screen and (max-width: 760px) {

    img.rounded.float-end {
        max-width: 400px;
        height: 200px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    img.rounded.float-end.ilove {
        max-width: 400px;
        height: 200px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    div.col.dois {
        margin-left: 20%;
    }

    div.col.text {
        margin-left: 15px;
        margin-right: 15px;
    }

    .seta {
        display: flex;
        justify-content: center;
    }

    .seta2 {
        display: flex;
        justify-content: center;
    }

    .itensGeral {
        margin-bottom: 90px;
    }

    .btn.saiba {
        width: 100px;
    }
}