html,
body {
    height: 100%;
    /* Garante que a página tenha 100% de altura */
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow-x: hidden;
}

.Title-1 {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.Title-2 {
    display: flex;
    justify-content: center;
    margin-top: 220px;
}

.img1 {
    margin-top: 90px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img.rounded.float-end {
    max-width: 550px;
    height: auto;
    margin-right: 100px;
}

img.rounded.float-end.ilove {
    max-width: 450px;
    height: auto;
    margin-right: 100px;
}

img.rounded.float-end.libras {
    max-width: 420px;
    height: auto;
    margin-right: 100px;
}

.seta {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.seta2 {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

a.seta-click {
    background-color: rgba(0, 0, 0, 0);
    /* cor de fundo */
    color: #0f0f0fd6;
    /* cor do texto */
}

a.seta-click:hover {
    background-color: rgba(220, 220, 226, 0);
    /* cor de fundo quando o cursor está sobre o botão */
    color: #888787;
    /* cor do texto quando o cursor está sobre o botão */
}

i.fa-solid.fa-arrow-down {
    font-size: 40px;
}

footer.footer {
    margin-top: auto;
    background-color: rgba(219, 219, 219, 0.795);

}

.btnFooter {
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
}

.btnFooter:hover {
    background-color: #cccbcb;
}

.btn.saiba {
    background-color: #c5c4c4;
    border-color: #565fda00;
    color: #333232;
}

.btn.saiba:hover {
    background-color: #d1d1d1d3;
    border-color: #565fda00;
    color: aliceblue;
}

.row.itens {
    margin-top: 10px;
}

.fa-brands.btns {
    font-size: 1.2rem;
}

.footerA {
    text-decoration: none;
}

/* link que foi visitado */
a.footerA:visited {
    color: rgb(0, 0, 0);
}

/* mouse over */
a.footerA:hover {
    color: #3f3f3f;
}

/* link selecionado */
a.footerA:active {
    color: rgb(167, 167, 167);
}

.itensGeral {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}

@media only screen and (max-width: 760px) {

    .img1 {
        display: flex;
        justify-content: center;
    }

    img.rounded.float-end {
        max-width: 400px;
        height: 200px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    img.rounded.float-end.ilove {
        max-width: 400px;
        height: 200px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    div.col.dois {
        margin-left: 20%;
    }

    div.col.text {
        margin-left: 15px;
        margin-right: 15px;
    }

    .Title-1 {
        display: flex;
        justify-content: center;
        margin-top: 90px;
    }

    .Title-2 {
        display: flex;
        justify-content: center;
        margin-top: 140px;
    }

    .seta {
        display: flex;
        justify-content: center;
        margin-top: 120px;
    }

    .seta2 {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    .itensGeral {
        margin-bottom: 90px;
    }

    .btn.saiba {
        width: 100px;
    }
}