@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

.traduza {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.traducao-Conteudo {
    margin-top: 80px;
    margin-bottom: 2%;
}

.container.information {
    margin-top: 120px;
}

.titleTraduza {
    display: flex;
    justify-content: center;

}

.h2traduza {
    font-family: 'Tilt Warp', cursive;
    font-size: 35px;
}

.textInsert {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}


.videos {
    display: flex;
    flex-direction: row;
    /* Empilhe os elementos verticalmente */
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* Ajuste conforme necessário para o espaçamento vertical entre os elementos */
    margin-top: 30px;
}


.videos iframe {
    margin-top: 10px;
    /* Adiciona uma margem entre o h3 e o iframe */
}

.translation-special-options h3 {
    margin: 0 5em;
}

.translation-dica {
    text-align: center;
    margin: 0;
    margin-top: 5px;
}

.translation-dica a {
    display: block;
    text-decoration: none;

}


/* select options */
.translatedText {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    height: 175px;
    padding: 6px 12px;
    padding-top: 0;
    width: 300px;
    margin: 0 2px;
}

.translatedText option {
    font-size: 18px;
}

.translatedText option:checked {
    background-color: #ddd;
}

.translatedText::-ms-expand {
    display: none;
}

.resposta {
    margin-top: 20px;
}

/*  */

@media only screen and (max-width: 768px) {

    .videos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin-top: 40px;
    }

    .h2traduza {
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 25px;
    }

    .traducao-Conteudo {
        margin-top: 80px;
    }

    .textInsert {
        /* display: flex; */
        flex-direction: column;
        align-items: center;

    }

    .textInsert select {
        height: 200px;
    }

    .translation-special-options {
        display: none;
    }


    .translatedText {
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        height: 40px;
        padding: 6px 12px;
        width: 300px;
        margin: 0 2px;
    }

    .translatedText.topo {
        margin-bottom: 20px;
    }

    .Conteudos {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .primeiroConteudo {
        margin-bottom: 40px;
    }

}