main {
    margin-bottom: 200px;
}

.conteudo {
    display: flex;
    justify-content: center;
}

.container-fluid {
    margin-top: 30px;
}

.menuLateral {
    display: flex;
    flex-direction: column;
}


.rating {
    direction: rtl;
}

.rating input[type="radio"] {
    display: none;
}

.rating label {
    display: inline-block;
    cursor: pointer;
}

.rating label:before {
    content: "\2605";
    color: #ddd;
}

.rating input[type="radio"]:checked~label:before {
    color: #ffc107;
}